/* Esto serían los estilos básicos para todo lo que se trata de la tipografía*/

p {
  text-align: center;
}

/*Esto serían los estilos de la barra de navegación*/

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(192, 192, 248);
}

.menu {
  position: fixed;
  width: 100vw;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

img#my-logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  padding: 1rem;
}

.nav-logo h2 {
  text-decoration: none;
  color: rgb(192, 192, 248);
  font-size: 0.8rem;
  font-weight: bolder;
}

.name_web {
  display: flex;
  align-items: center;
}

.name_web {
  text-decoration: none;
  color: rgb(192, 192, 248);
  font-size: 1.5rem;
  font-weight: bolder;
}
.nav-hbmenu {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 1.5rem;
}

.nav-hbmenu button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 1.3rem;
}

.nav-hbmenu i {
  display: flex;
  align-items: center;
  color: rgb(192, 192, 248);
  font-size: 1.5rem;
}

header {
  height: 4rem;
  width: 100vw;
  top: 0%;
  background-color: rgb(109, 86, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
}

/* diseño de las tarjetas */
/* .containers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
  margin-top: 3rem;
  min-width: 4rem;
}

.containers .box {
  width: 14rem;
  height: 24rem;
  background-color: rgb(109, 86, 175);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  background-image: url(../img/imagen1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/imagen1.png);
} */

/* Contenedor general */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
  margin-top: 6rem;
}

/* Tarjetas individuales */
.card {
  width: 14rem;
  height: 24rem;
  background-color: rgb(109, 86, 175);
  border-radius: 20px;
  overflow: hidden; /* importante para que la imagen se recorte dentro */
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: block;
}

/* Imagen dentro de la tarjeta */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* diseño de las tarjetas */

/* animación hover */
/* animación hover */

/* imagen Charle's Organics */
.homepage img {
  width: 80%;
  height: 80%;
  object-fit: scale-down;
  display: block;
  transition: transform 0.3s ease-in-out;
}
/* imagen Charle's Organics */
