/* Esto serían los estilos básicos para todo lo que se trata de la tipografía*/
h1 {
  font-size: 3.5rem;
  color: rgb(109, 86, 175);
  font-weight: bolder;
  text-align: center;
  font-family: Georgia, serif;
}
h2 {
  font-size: 2.5rem;
}

p {
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  color: rgb(192, 192, 248);
}

section {
  color: rgb(192, 192, 248);
}

/*Esto serían los estilos de la barra de navegación*/
nav#menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav#menu a {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

#my-logo {
  width: auto;
  height: auto;
  float: left;
  margin-right: 10px;
}

header {
  top: 0%;
  background-color: rgb(109, 86, 175);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
